body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 255, 0.395), rgb(0, 0, 0));
}

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form-IMC{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.315);
    font-size: 3.5vh;
    border-radius: 4px;
    width: fit-content;
    height: 40vh;
    border-radius: 2vh;
    padding-left: 2vw;
}

.titulo{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 5.5vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.333);
    margin-bottom: 5vh;
    margin-left: -2vw;
}

#tituloresultado{
    background-color: rgba(0, 0, 0, 0.333);
    height: 4vh;
}

input[type=text], textarea {

    height: 4vh;
    width: relative;
}

input[type=button], input[type=reset]
{
    font-size: 2vh;
    margin-top: 4vh;
    border-radius: 1vh;
    background-color: blue;
    color: aliceblue;
    border: none;
    cursor:pointer;
}

#rdf, #rdm{
    width: 3vw;
    height: 3vh;
}

.btn{
    width: 15vw;
    height: 3vh;
    text-align: center;
}

.buttons{
    padding-left: 4rem;
}

.buttons :hover
{
    opacity: 0.5;
    transition: 1s;
}

@media (min-width: 768px) {
    .btn
    {
        width: 8vw;
        height: 3vh;
    }

    .buttons
    {
        padding-left: 5vw;
    }
}

@media  (min-width:1440px) {

    .btn{
        width: 5vw;
    }

    .buttons{
        padding-left: 1.3rem;
    }
}